
.odd {
    background-color: rgb(255, 135, 135);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
.odd.third {
    font-size: 24px;
}
#blue {
    color: rgb(41, 55, 248);
    font-size: 36px;
}
#green {
    background-color: rgb(137, 255, 135);
    font-size: 24px;
    font-weight: bold;
}
.black, .yellow {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}
.black {
    background-color: black;
    color: white;
}
.yellow {
    background-color: yellow;
}
.avatar.proportioned {
    width: 300px;
    height: auto;
}
.avatar.distorted {
    width: 200px;
    height: 400px;
}
.container .text {
    color: red;
    background-color: yellow;
    font-size: 20px;
    text-align: center
}